.theme-dark {
  --color-white-001: hsla(0, 0%, 100%, 0.01);
  --color-white-003: hsla(0, 0%, 100%, 0.03);
  --color-white-005: hsla(0, 0%, 100%, 0.05);
  --color-white-006: hsla(0, 0%, 100%, 0.06);
  --color-white-007: hsla(0, 0%, 100%, 0.07);
  --color-white-010: hsla(0, 0%, 100%, 0.1);
  --color-white-015: hsla(0, 0%, 100%, 0.15);
  --color-white-020: hsla(0, 0%, 100%, 0.2);
  --color-white-040: hsla(0, 0%, 100%, 0.4);
  --color-white-060: hsla(0, 0%, 100%, 0.6);
  --color-white-080: hsla(0, 0%, 100%, 0.8);
  --color-white-100: #fff;
  --color-purple-020: rgba(145, 93, 255, 0.2);
  --color-blue: #2b99ff;
  --color-blue-010: rgba(37, 137, 255, 0.1);
  --color-blue-020: rgba(37, 137, 255, 0.2);
  --color-green-020: rgba(56, 226, 179, 0.2);
  --color-red-020: rgba(253, 91, 93, 0.2);
  --color-yellow-020: rgba(255, 178, 33, 0.18);
  --color-red: #fd5b5d;
  --font-family: 'SplineSans', system-ui, -apple-system, BlinkMacSystemFont,
    'Helvetica Neue', Helvetica, Arial, sans-serif;
  --space-0: 0;
  --space-1: 4px;
  --space-2: 8px;
  --space-2-b: 12px;
  --space-3: 16px;
  --space-3-b: 24px;
  --space-4: 32px;
  --radius-0: 4px;
  --radius-1: 8px;
  --radius-2: 12px;
  --radius-3: 16px;
  --border-width-0: 0;
  --border-width-1: 1px;
  --size-1: 8px;
  --size-2: 12px;
  --size-3: 14px;
  --size-4: 16px;
  --size-5: 20px;
  --size-6: 24px;
  --size-7: 32px;
  --sidebar-left-width: 252px;
  --header-height: 80px;
  --dimmed-opacity: 0.5;

  --color-foreground-elevation-1: var(--color-white-003);
  --color-foreground-elevation-2: var(--color-white-006);
  --color-foreground-elevation-3: var(--color-white-010);
  --color-foreground-elevation-4: var(--color-white-020);
  --color-bg-elevation-1: #191a1d;
  --color-bg-elevation-2: #202124;
  --color-root-bg: #232323;
  --color-editor-bg: #121316;
  --color-ui-bg: #121316;
  --color-ui-bg-elevation-05: #191a1d;
  --color-ui-bg-elevation-1: #1e1f22;
  --color-ui-bg-elevation-2: #27282b;
  --color-ui-bg-new-translucent: rgba(18, 19, 22, 0.95);
  --color-ui-bg-alpha-0: rgba(#191919, 0);
  --color-ui-bg-hover: #191a1d;
  --color-ui-context-menu: rgba(33, 34, 38, 0.95);
  --color-ui-context-menu-hover: rgba(38, 39, 44, 0.95);
  --color-ui-bg-header: rgba(18, 19, 22, 0.94);
  --color-main: #2589ff;
  --color-red: #fd5b5d;
  --color-green: #38e2b3;
  --color-green-dark: #00a376;
  --color-green-darker: #008761;
  --color-purple: #915eff;
  --color-purple-bright: #d680ff;
  --color-purple-dark: #7448d4;
  --color-pink: #ff5daa;
  --color-yellow: #ffb221;
  --color-text-opaque: hsla(0, 0%, 100%, 0.4);
  --color-text-body: hsla(0, 0%, 100%, 0.6);
  --color-text-title: hsla(0, 0%, 100%, 0.8);
  --color-text-highlight: #fff;
  --color-input-bg: hsla(0, 0%, 100%, 0.03);
  --color-input-bg-hover: hsla(0, 0%, 100%, 0.07);
  --color-input-bg-border: 1px solid transparent;
  --color-context-menu-bg: #1e1e1e;
  --color-menu-bg: #1e1e1e;
  --color-toolbar: rgba(18, 19, 22, 0.95);
  --color-menu-camera: rgba(26, 26, 26, 0.6);
  --color-menu-camera-hover: rgba(73, 73, 73, 0.6);
  --color-property-label: hsla(0, 0%, 100%, 0.3);
  --color-property-label-group: hsla(0, 0%, 100%, 0.6);
  --color-layer-text: hsla(0, 0%, 100%, 0.6);
  --color-layer-child-text: hsla(0, 0%, 100%, 0.6);
  --color-input-text: hsla(0, 0%, 100%, 0.5);
  --color-input-range-slider: #505050;
  --color-input-label: RGBA(var(--color-main), 0.6);
  --color-layer-child-hover: hsla(0, 0%, 100%, 0.1);
  --color-layer-child-selected: hsla(0, 0%, 100%, 0.05);
  --color-layer-hierarchy-line: hsla(0, 0%, 100%, 0.1);
  --color-layer-hierarchy-line-selected: hsla(0, 0%, 100%, 0.4);
  --color-picker-border: hsla(0, 0%, 100%, 0.2);
  --pixel-border: 1px solid hsla(0, 0%, 100%, 0.05);
  --pixel-contrast-border: 1px solid #fff;
  --pixel-border-input: none;
  --pixel-border-color: 1px solid hsla(0, 0%, 100%, 0.05);
  --border-color: hsla(0, 0%, 100%, 0.05);
  --highlight-color: hsla(0, 0%, 100%, 0.1);
  --border-radius: 4px;
  --border-radius-rounder: 8px;
  --border-radius-roundest: 16px;
  --border-radius-roundester: 24px;
  --font-size: 11px;
  --tab-size: 40px;
  --tab-bar-size: 40px;
  --layer-size: 30px;
  --box-shadow-popup: 0 8px 8px rgba(0, 0, 0, 0.075);

}
